body{
    background: linear-gradient(to right, #F4EBD9, #058ED9);
    height:100vh;
}

h3{
    color: grey;
}

a{
    transition: transform .3s ease-in-out;
}

a:hover{
    color: grey;
}
.contenedor-header{
    display:flex;
    align-items: center; /* Alineación al inicio del contenedor */
    gap: 14px; /* Espacio entre imagen y texto */
    padding-left:20px; /* Espacio a la izquierda */
}

.logo{
    width: 54px;
    height: auto;
}

.nombre_usuario{
    font-family: Arial;
    color:white;
}

.foto_editar{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}
.letras-titulo{
    display:flex;
    font-family: Arial, sans-serif;
    margin-left: 10px;
    flex-direction: column; /* Una palabra sobre otra, forma de columnas */
    text-align:center; /* Centrado de las letras */
    font-size: 24px; /* Tamaño de letra */
    color:#058ED9; /* Color azul */
    font-weight: bold; /* Negrita */
}

.letras-nav{
    font-family: Arial;
    color: white;
    text-decoration: none; /* Sin subrayado */
    font-weight:bold; /* Negrita */
}

.usuario-header{
    position:absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items:center;
    gap: 10px; /* Espacio entre nombre y foto */
    font-family: Arial;
    color: white;
}

.usuario-header img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit:cover;
}

.cont-escribir-curso{
    display:flex;
    text-align:center;
    justify-content:center;
    gap:10px;
}

.partes{
    display:grid;
    align-content: center;
    justify-items: center;
}

.parte1{
    margin-left: 5rem;
}

.parte2{
    margin-left: 5rem;
}
.container-principal{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    background-color: white;
    border-radius: 20px;
    width: auto;
    margin-left: 25%;
    margin-right: 25%;
}

.seccion_boton {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

button{
    width: 250px;
    height: 50px;
    background-color: #058ed9;
    border-radius: 20px;
    border-width: 3px;
    border-color: #058ed9;
    transition: color .3s ease-in-out, background-color .3s ease-in-out, transform .3s ease-in-out;
}

button:hover{
    transform: scale(1.1);
    background-color: #035d8e;
    color:white;
    cursor: pointer;
}

input{
    height:2rem;
    width: 20rem;
}

.input
.container-filtros{
    display: flex;
    background-color:white;
    border:#454545;
    gap: 30px;
}

.boton-filtros{
    background-color: #89d1f8;
    color: #454545;
    border-color: #454545;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.container-cursos{
    display: flex;
    flex-wrap: wrap; /* Permite que los cursos se ajusten en varias líneas */
    gap: 20px; /* Espacio entre los cursos */
    padding: 20px; /* Espacio interno */
}

.opciones{
    display:block; /* Select visible desde el comienzo */
    background-color: #89D1F8;
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espacio interno */
    margin-top:5px;
    width:200px;
}
